# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Models
models/*.pkl

# Processed Data
data/processed/*

# Secrets
.env

# Streamlit cache
.streamlit/